body {
  height: 100vh;
  margin: 0;
  background: #E2E2E2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

#main {
  justify-content: flex-end;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.home-link, .home-link:focus {
  font-family: 'Cormorant', serif;
  font-size: 24px;
  letter-spacing: 1.6px;
  padding: 21px;
}

.cart-icon {
  width: 20px;
}

.home-bg {
 object-fit: cover;
 height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
}

.nav-bottom {
  display: flex;
  flex-direction: column;
}

.product-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  float: right;
  width: 65%;
  margin: auto;
  padding: 20px;
  text-align: right;
}

.right-panel {
  display: flex;
  justify-content: flex-end;
  margin:0;
  padding: 0;
}

.signin-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12%;
  width: 65%;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: right;
  margin: 8% 8% 8% 0;
}

.cart-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding-bottom: 75px;
  border-bottom: 1px solid #3331383b;
}

.cart-image {
  width: 25%;
}

.cart-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.cart-cost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 40px;
  padding-top: 50px;
}

.cart-quantity {
  display: flex;
  align-items: center;
}

.product-preview {
  width: 27%;
  margin: 3%;
}

.product-preview-details {
  display: flex;
  justify-content: space-between;
  margin: 6% 0;
  line-height: 1.6;
}

img {
  width: 100%;
}

.nav-link {
  display: inline;
  margin: 10px;
  padding: 10px;
}

a, a:active, a:visited {
  padding: 15px 0;
  color: #333138;
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid #963333;
}

.unpadded-link, .unpadded-link:active, .unpadded-link:visited {
  padding: 0;
}

.undecorated-link:hover {
  border-bottom: none;
}

.link-bordered {
  margin: 10px 0;
  background:  #9633333b;
  border-radius: 3px;
  padding: 0 5px;
}

.single-product {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}

.single-product-details {
  max-width: 175px;
  margin: 40% 2% 0 0;
  line-height: 180%;
  text-align: right;
  font-size: 12px;
}

.single-product-image {
  width: auto;
  max-width: 100%;
  height: 100vh;
}

.btn-main {
  border: none;
  background: none;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  transition: .1s ease-in-out;
}

.btn-main:active {
  background: #9633333b;
  outline: none;
  color: #9633333b;
  transform: scale(1.5);
}

.btn-main:focus {
  outline: none;
}

.btn-right {
  float: right;
}

.user-container {
  display: flex;
  justify-content: flex-end;

}

.order-container {
  display: flex;
  justify-content: space-between;
  width: 275px;
  padding: 10%;
  border-bottom: 1px solid #3331383b;
}

.order-product-image {
  width: 50%;
}

.form-main {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid #3331383b;
  padding: 20px;
  font-size: 12px;
}

.form-main input {
  margin: 10px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

.form-main-field {
  display: flex;
  flex-direction: column;
}

.red-bg {
  padding: 15px;
  background: #963333;
}

.bold {
  font-weight: 700;
}

#error {
  text-align: center;
  color: #963333;
}
