body {
  height: 100vh;
  margin: 0;
  background: #E2E2E2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

#main {
  /* display: flex; */
  justify-content: flex-end;
}

p {
  line-height: 40px;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.home-link {
  font-family: 'Cormorant', serif;
  font-size: 24px;
}

.cart-icon {
  width: 20px;
}

nav {
  display: flex;
  flex-direction: column;
}

.nav-bottom {
  display: flex;
  flex-direction: column;
}

.container {
  width: 60%;
  float: right;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
  text-align: right;
}

.right-panel {
  display: flex;
  justify-content: flex-end;
  margin:0;
  padding: 0;
}

.title {
  padding: 20px;
  margin: 20px;
}

.product-preview {
  width: 275px;
  margin: 4%;
}

.product-preview-details {
  display: flex;
  justify-content: space-between;
/* margin: 10% 0 0 0; */
}

img {
  width: 100%;
}

a, a:active, a:visited {
  padding: 21px;
  color: #333138;
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid #963333;
}

.undecorated-link:hover {
  border-bottom: none;
}

.single-product {
  display: flex;
  height: 100vh;
}

.single-product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20%;
}


.single-product-image {
  width: 100%;
  height: 100%;
}

.btn-main {
  border: none;
  background: none;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.order-container {
  display: flex;
  justify-content: space-between;
  width: 275px;
  padding: 10%;
  border-bottom: 1px solid #3331383b;
}

.order-product-image {
  width: 50%;
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid #3331383b;
  padding: 20px;
  font-size: 12px;
}

.form-main input {
  margin: 10px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

.form-main-field {
  display: flex;
  flex-direction: column;
}

.red-bg {
  padding: 15px;
  background: #963333;
}

.bold {
  font-weight: 700;
}
