body {
  margin: 0;
  background: #E2E2E2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

#main {
  /* display: flex; */
  justify-content: flex-end;
}

#navbar {
  position: fixed;
  flex: 1;
  padding: 50px 20px;
  height: 100vh;
}

#component {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#homeIcon {
  padding: 30px 70px;
  font-size: 30px;
}

.cartIcon {
  width: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 70px;
  font-size: 20px;
  margin-bottom: 100px;
}

#userMenu {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
}

.container {
  width: 60%;
  float: right;
  margin-right: 50px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  padding: 50px 70px;
  text-align: right;
}

.singlePanel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  padding: 50px 70px;
  font-size: 20px;
}

.single-product {
  padding: 20px;
}

.single-product-image {
  float: right
}

.title {
  padding: 20px;
  margin: 20px;
}

.product-preview {
  margin: 4%;
}

img {
  width: 270px;
}

a, a:hover, a:active, a:visited {
  padding: 20px;
  color: #333138;
  text-decoration: none;
}

.single-product {
  display: flex;
}

.single-product-image {
  width: 100%;
  height: 100%;
}
